:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%); 
    --Dark-grayish-blue: hsl(228, 12%, 48%); 
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: var(--cream);
}

.card {
    display: flex;
    background-color: var(--White);
    width: 36vw;
    margin: 22vh auto;
    border-radius: 1em;
}

.desktop_image {
    width: 18vw;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.attribution {
    display: none;
}